<launch>

  <!-- <node name="image_muxer" pkg="flock_driver" type="image_muxer.py" output="screen" /> -->

  <node name="cloud_map_saver" pkg="flock_driver" type="cloud_map_saver.py" output="screen">
  <param name="OUT_FILE_PATH" type="string" value="/home/arkadiros/map_point.txt" />
  <param name="CLOUD_TOPIC_NAME" type="string" value="/orb_slam2_mono/map_points" />
  <param name="TRIGGER_TOPIC_NAME" type="string" value="/save_cloud_trigger" />
  <param name="POSE_TOPIC_NAME" type="string" value="/orb_slam2_mono/pose" />
  <param name="CAMERA_TOPIC_NAME" type="string" value="/orb_slam2_mono/debug_image" />

  
</node>


 <node name="flock_driver_node" pkg="flock_driver" type="flock_driver.py" output="screen" >
    <param name="network_interface" type="string" value="" />
    <param name="ID" type="string" value="" />

 </node>


</launch>
